<div class="jumbotron-background p-5" style="background-image: url(<%= asset_path('jumbotron_bg.jpg') %>)">
  <h1 class="display-4">Thiện Nguyện Hoa Phượng</h1>
  <p class="lead">Trái tim nhân ái sẽ kết nối trái tim nhân ái!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Chung tay đóng góp</a>
</div>
