<div class="jumbotron-background p-5" style="background-image: url(<%= asset_path('jumbotron_bg.jpg') %>)">
  <h1 class="display-4">Thiện Nguyện Hoa Phượng</h1>
  <p class="lead">Trái tim nhân ái sẽ kết nối trái tim nhân ái!</p>
  <hr class="spacer">
  <hr class="spacer">
  <hr class="spacer">
  <hr class="spacer">
  <hr class="spacer">
  <hr class="spacer">
  <hr class="spacer">
  
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Chung tay đóng góp</a> -->
</div>

<hr class="spacer">

<div class="container">
  <h3>Thiện Nguyện Hoa Phượng thực hiện dự án #Nuôi_Em cho các cháu có hoàn cảnh khó khăn tại các tỉnh miền núi phía Bắc.</h3>

  <p>Mỗi cháu sẽ được nhận bữa ăn trưa hoặc sáng và chiều là 8,5k/bữa (150k/tháng) gồm cơm , rau thịt hoặc cá hoặc sữa, để trưa các cháu không phải đi bộ xa về nhà hoặc cầm túi cơm trắng đi ăn .</p>

  <p>Các mạnh thường quân sẽ nhận 1 cháu có mã số gửi . Sau đó vui lòng chuyển 3 tháng 1 lần hoặc 6 tháng 1 lần , hoặc cả năm học là 9 tháng theo số tk sau . Bên Hoa Phượng sẽ gửi trực tiếp cho các thầy cô chăm lo cho các cháu hàng tháng .</p>

  <p>Một tháng Nhóm sẽ báo cáo tình hình , gửi ảnh cho các bố mẹ nuôi nắm Thông tin.</p>

  <p>Cảm ơn quý mạnh thường quân đã quan tâm tới dự án .</p>

  <p>Ủng hộ tiền mặt ( xin ghi rõ họ tên và mã con nuôi ) gửi Tk :</p>

  <p>Số TK: 160314849073405 Nguyen Thi Dung -Eximbank Hai Phong.</p>
  <p>Hoặc : số TK : 0491001583298 Phạm Minh Chiến- vietcombank chi nhánh Thăng Long Hn</p>
</div>
