<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#">VỀ CHÚNG TÔI</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">XÂY TRƯỜNG</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Điểm Trường Đã Xây</a>
      <a class="dropdown-item" href="#">Điểm Trường Mới</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NUÔI EM</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Điểm Trường Đã Nhận</a>
      <a class="dropdown-item" href="#">Điểm Trường Tiếp Theo</a>
      <a class="dropdown-item" href="#">Cập Nhật Thông Tin Mới</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">HOẠT ĐỘNG KHÁC</a>
  </li>
  <li class="nav-item">
    <%= link_to 'ĐĂNG KÍ THÀNH VIÊN', new_user_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">LIÊN HỆ</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-warning px-5" href="#">ỦNG HỘ</a>
  </li>
</ul>
<div class="jumbotron">
  <h1 class="display-4">Thiện Nguyện Hoa Phượng</h1>
  <p class="lead">Trái tim nhân ái sẽ kết nối trái tim nhân ái!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Chung tay đóng góp</a>
</div>
